

services:
  api:
    build: ./app

    volumes:
      - .:/code
    
    ports:
      - '8000:8000'

    environment:
      - DB_URL=mongo://db//myTestDB

    depends_on:
      - db

  db:
    image: mongo:4.4.18

    ports:
      - 27017:27017
    
    volumes:
      - taskdb:/data/db

volumes:
  taskdb:
